body {
  font-family: sans-serif;
}

.card-img-left {
	background-image: url('img/dice-20.jpg');
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>label {
 
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}